# 系统隐藏文件
.DS_Store

# IDE 隐藏文件
.idea/
*.swp
*.swo

# NPM 相关
node_modules
package-lock.json

# 测试相关
coverage
jest-html-report

dist
docs
lerna-debug.log

# 调试 Docker 时候的环境变量
*.env

lib/**/*.js
lib/**/*.map
bin/**/*.js
bin/**/*.map